@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Bold.eot');
    src: url('CourierPrime-Bold.eot?#iefix') format('embedded-opentype'),
        url('CourierPrime-Bold.woff') format('woff'),
        url('CourierPrime-Bold.svg#CourierPrime-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Regular.eot');
    src: url('CourierPrime-Regular.eot?#iefix') format('embedded-opentype'),
        url('CourierPrime-Regular.woff') format('woff'),
        url('CourierPrime-Regular.svg#CourierPrime-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

